<a
  *ngIf="errorMessage"
  routerLink="/create-player"
  class="errorMsgLink text-center bg-warning my-3"
  ><i class="fa fa-warning"></i> {{ errorMessage }}</a
>

<table class="table" *ngIf="!errorMessage">
  <thead>
    <tr>
      <th scope="col">Player added to the game board</th>
      <th scope="col">Players</th>
      <th scope="col">id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pl of playersAdd; let i = index">
      <td>#</td>
      <td>{{ pl.name }}</td>
      <td>#{{ pl.id }}</td>
      <button
        (click)="removePlayerFromBoardList(i)"
        class="btn btn-danger text-ligh leaveroom"
      >
        leave room
      </button>
    </tr>
    <div *ngIf="playersAdd.length <= 0">
      <span
        style="text-decoration: underline; cursor: pointer;"
        routerLink="/create-player"
        >empty - add players</span
      >
    </div>
  </tbody>
</table>

<div class="text-center my-3">
  <button
    [ngStyle]="{ cursor: errorMessage ? 'not-allowed' : 'pointer' }"
    [disabled]="playersAdd.length < 2"
    class="btn btn-success"
    routerLink="/tic-tac-toe"
  >
    PLAY GAME
  </button>
</div>
