.errorMsgLink {
  display: block;
  margin: auto;
  color: rgb(189, 61, 61);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

@media (max-width: 380px) {
  table {
    font-size: 12px;
  }
  button {
    font-size: 13px;
  }
  .errorMsgLink {
    font-size: 12px;
  }
}
