<ul class="nav">
  <li class="nav-item">
    <img
      src="https://st2.depositphotos.com/2376971/11955/i/950/depositphotos_119554738-stock-photo-illustration-of-tic-tac-toe.jpg"
      alt=""
      class="nav-img"
    />
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/create-player" routerLinkActive="active"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/player-list" routerLinkActive="active"
      >GameBoard</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/tic-tac-toe" routerLinkActive="active"
      >TicTacToe</a
    >
  </li>
</ul>
